@media print {
    @page {
        size: A4;
        margin: 2.5cm;
        @bottom-left {
            content: counter(page) "/" counter(pages);
            text-align: left;
        }
    }
    @page :right {
        @bottom-right {
            content: counter(page) "/" counter(pages);
            text-align: right;
        }
        @bottom-left {
            content: none;
        }
    }
}